{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-1",
        "latest"
    ],
    "plugins": [
        "external-helpers"
      ],
    "env": {
        "test": {
            "presets": [
                [
                    "env"
                ],
                "stage-1",
                "latest"
            ],
            "plugins": [
                "external-helpers"
              ]
        }
    }
}