{
    "presets": [
        [
            "env",
            {
                "modules": false
            }
        ],
        "stage-1",
        "latest"
    ],
    "env": {
        "test": {
            "presets": [
                [
                    "env"
                ],
                "stage-1",
                "latest"
            ]
        }
    }
}